
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]ackages/com.unity.collab-proxy/
UserSettings/
MemoryCaptures/
SysInfo.txt
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.unitypackage
.vscode/
.idea/
.DS_Store
Thumbs.db
sysinfo.txt
.vscode/
